
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
vae310/
venvVAE/

# Jupyter Notebook
**/.ipynb_checkpoints/

tmp/
